@model E_Lect.Models.Vote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Vote_StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vote_StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vote_EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vote_EndTime)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Candidate.Candidate_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate.Candidate_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party.Party_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party.Party_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Student_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Student_Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vote_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
